.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.674805;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.901855;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-6.000000px;}
.ls1{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc1{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc0{text-shadow:-0.015em 0 rgb(255,254,255),0 0.015em rgb(255,254,255),0.015em 0 rgb(255,254,255),0 -0.015em  rgb(255,254,255);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc1{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(255,254,255);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._8{width:308.398119px;}
._a{width:330.486119px;}
._0{width:362.037218px;}
._9{width:364.630119px;}
._c{width:374.398119px;}
._2{width:384.125218px;}
._e{width:389.094119px;}
._b{width:396.398119px;}
._d{width:406.210119px;}
._1{width:418.269218px;}
._5{width:428.037218px;}
._7{width:442.733218px;}
._3{width:450.037218px;}
._6{width:459.849218px;}
._4{width:503.893218px;}
.fc1{color:rgb(0,0,0);}
.fc0{color:rgb(255,254,255);}
.fs3{font-size:44.000000px;}
.fs1{font-size:72.000000px;}
.fs2{font-size:160.000000px;}
.fs0{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y3{bottom:183.423256px;}
.y6{bottom:206.032227px;}
.y2{bottom:215.023256px;}
.y5{bottom:246.832222px;}
.y1{bottom:273.178818px;}
.y4{bottom:287.632225px;}
.y18{bottom:314.745649px;}
.yf{bottom:317.099760px;}
.y17{bottom:335.145658px;}
.ye{bottom:337.499754px;}
.y16{bottom:355.545652px;}
.yd{bottom:357.899763px;}
.y15{bottom:375.945662px;}
.yc{bottom:378.299757px;}
.y14{bottom:396.345671px;}
.yb{bottom:398.699766px;}
.y13{bottom:416.745657px;}
.ya{bottom:419.099761px;}
.y12{bottom:437.145666px;}
.y9{bottom:442.312125px;}
.y11{bottom:457.545659px;}
.y8{bottom:465.524482px;}
.y10{bottom:481.625187px;}
.y7{bottom:488.736843px;}
.h4{height:32.033203px;}
.h2{height:49.675781px;}
.h3{height:109.375000px;}
.h1{height:143.964844px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.xd{left:89.341278px;}
.x4{left:121.124481px;}
.xa{left:123.036591px;}
.x6{left:125.413544px;}
.x9{left:129.237762px;}
.xe{left:137.784630px;}
.xf{left:170.476028px;}
.x5{left:181.151810px;}
.x1{left:304.015152px;}
.x2{left:380.746094px;}
.x3{left:390.371094px;}
.x8{left:701.668762px;}
.xc{left:716.476562px;}
.x7{left:787.133423px;}
.xb{left:795.236328px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-8.000000pt;}
.ls1{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._8{width:411.197492pt;}
._a{width:440.648159pt;}
._0{width:482.716291pt;}
._9{width:486.173492pt;}
._c{width:499.197492pt;}
._2{width:512.166957pt;}
._e{width:518.792159pt;}
._b{width:528.530825pt;}
._d{width:541.613492pt;}
._1{width:557.692291pt;}
._5{width:570.716291pt;}
._7{width:590.310957pt;}
._3{width:600.049624pt;}
._6{width:613.132291pt;}
._4{width:671.857624pt;}
.fs3{font-size:58.666667pt;}
.fs1{font-size:96.000000pt;}
.fs2{font-size:213.333333pt;}
.fs0{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y3{bottom:244.564341pt;}
.y6{bottom:274.709635pt;}
.y2{bottom:286.697675pt;}
.y5{bottom:329.109629pt;}
.y1{bottom:364.238424pt;}
.y4{bottom:383.509633pt;}
.y18{bottom:419.660866pt;}
.yf{bottom:422.799680pt;}
.y17{bottom:446.860878pt;}
.ye{bottom:449.999672pt;}
.y16{bottom:474.060870pt;}
.yd{bottom:477.199684pt;}
.y15{bottom:501.260882pt;}
.yc{bottom:504.399676pt;}
.y14{bottom:528.460894pt;}
.yb{bottom:531.599688pt;}
.y13{bottom:555.660876pt;}
.ya{bottom:558.799681pt;}
.y12{bottom:582.860888pt;}
.y9{bottom:589.749500pt;}
.y11{bottom:610.060879pt;}
.y8{bottom:620.699309pt;}
.y10{bottom:642.166916pt;}
.y7{bottom:651.649124pt;}
.h4{height:42.710938pt;}
.h2{height:66.234375pt;}
.h3{height:145.833333pt;}
.h1{height:191.953125pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.xd{left:119.121704pt;}
.x4{left:161.499308pt;}
.xa{left:164.048787pt;}
.x6{left:167.218058pt;}
.x9{left:172.317017pt;}
.xe{left:183.712840pt;}
.xf{left:227.301371pt;}
.x5{left:241.535746pt;}
.x1{left:405.353536pt;}
.x2{left:507.661458pt;}
.x3{left:520.494792pt;}
.x8{left:935.558350pt;}
.xc{left:955.302083pt;}
.x7{left:1049.511230pt;}
.xb{left:1060.315104pt;}
}
